# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/UserInterfaceState.xcuserstate
DerivedData/
.build/
*.xcuserdatad/

# Swift Package Manager
.swiftpm/
Package.resolved

# SourceKit index cache
**/index/db/
**/index/store/

# Xcode build artifacts
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM/
*.swiftmodule/

# CocoaPods (if used)
Pods/
Podfile.lock

# Local environment
.env
.env.local
